.Card {
    width: 850px;
    height: 400px;
    border-style: solid;
    border-width: 1px;
    flex: content;
    border-color: lightcyan;
    align-items: center;
    border-radius: 15%;
    perspective: 1000px;
    padding: 1em 1.5em;
    /* flex-grow: 1;
    flex-basis: 25%;  */
}

.Card h5 {
    font-size: 20px;
    width: 100%;
    height: fit-content;
    white-space: pre-line;
    text-align: center;
    text-shadow: 3px 3px 10px blue;
}

.Card h6 {
    font-size: 16px;
    width: 100%;
    height: fit-content;
    white-space: pre-line;
    text-align: left;

}

.Card:hover {
    border-width: 5px;
    border-color: rgb(128, 0, 255);
}

.flip-card-inner {
    position: relative;
    /* width: 100%;
    height: 100%; */
    text-align: center;
    transition: transform 0.4s;
    /* transform-style: preserve-3d; */
    padding: 0px;
    margin: 0px;

    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-card-inner img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 0px;

}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: fixed;
    width: 100%;
    height: 100%;
    /* Safari */
    -o-backface-visibility: none;
    -webkit-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    
}

.do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-card-back  {
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.correct {
    color:green;
    font-size: 20px;
    font-weight: bold;
}


.incorrect{
    color:red;
    font-size: 20px;
    font-weight: bold;
   
}